/* PIE CHART STYLE */
.pie-chart-container {
  width: 400px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  margin: 20px auto; /* Centers the chart and adds some margin */
}

.chart-title,
.chart-subtitle {
  text-align: center;
}

/* BAR CHART STYLE */

.bar-chart-container {
  width: 800px; /* Adjust the width as needed */
  height: 800px; /* Adjust the height as needed */
  margin: 20px auto; /* Centers the chart and adds some margin */
}
